h2#slogan{
    position: relative;
    top: 40px;
    left: 34%;
    width: 400px;
}

img#tux{
    display: block;
    position: relative;
    top: -40px;
    left: 20%;
    border: none;
}

ul#meniu{
    display: block;
    width: 430px;
    position: relative;
    top: -133px;
    left:30%;
}