/*
Proiectul Alege.SoftwareLiber.ro
Septembrie 2009
Licența: BSD
Www: http://proiecte.softwareliber.ro/projects/alege
E-mail: salut[la]softwareliber[punct]ro
Credits: Inspired from pidgin.im!
Color pallete: http://www.colourlovers.com/palette/141213/cynical_harvest
*/

/* Reset global */
@import url("reset-min.css");

/* Layout */
body{
    background: #fff url("/img/body.repeta.jpg") repeat-x 0 30px;
    margin: 0;
    padding: 0;
}

#cap {
    height: 150px;
    width: 800px;
    margin: 0 auto;
}

h2#slogan{
    padding-top: 40px;
    margin-left: 150px;
    width: 400px;
}

img#tux{
    display: block;
    margin-top: -70px;
    margin-left: 0;
    border: none;
}

ul#meniu{
    display: block;
    width: 470px;
    margin-top: -67px;
    margin-left: 150px;
}

ul#meniu li{
    float: left;
    list-style: none;
}

ul#meniu li:first-child {
    border-left: 1px solid #fff;
}

ul#meniu li{
    border-right: 1px solid #fff;
}

ul#meniu li a{
    line-height: 39px;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #7C9F3B;
}

ul#meniu li:hover {
    background-color: #9AB85B;
}

#corp{
    height: 400px;
    width: 800px;
    overflow: hidden;
    margin: 0px auto;
    margin-bottom: -60px;
}

#corp .parcare{
    display: block;
    height: 40px;
}

#corp ul.blocuri > li{
    float: left;
    list-style: none;
    border-left: 1px solid #ddd;
    padding-right: 15px;
    padding-left: 15px;
}

#corp ul.simplu > li{
    border: none;
}

#corp ul.blocuri > li.primul{
    border-left: none;
}

#corp ul.blocuri > li.primul{
    padding-left: 0px;
}

#corp ul.doua > li{
    width: 45%;
}

#corp ul.trei > li{
    width: 30%;
    padding-right: 10px;
    padding-left: 10px;
}

.dialog span.clear{
    clear: both;
    display: block;
    height: 1px;
}

.dialog span.bordura_sus{
    border-top: 1px solid #ddd;
    clear: both;
    display: block;
    font-size: 1px;
}

.dialog ul.blocuri li .polaroid{
    padding: 5px;
    border: 1px solid #eee;
    box-shadow: 2px 2px 2px #ddd;
    -moz-box-shadow: 2px 2px 2px #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.dialog a img{
    border: none;
}

img.left{
    float: left;
    padding: 5px;
}

img.right{
    float: right;
    padding: 5px;
}

#coada{
    background: #eee url("/img/footer.repeta.jpg") repeat-x scroll top;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#coada .continut{
    width: 800px;
    margin: 115px auto;
    font-size: 9px;
}

#liber{
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    bottom: 80px;
}

/* Typogrphy */
body{
    font-family: sans-serif;
    color: #3E4142;
    font-size: 12px;
}

strong{
    font-weight: bold;
}

h2,h3,h4 { 
    font-weight:normal;
    clear:both;
}

h3{
    font-size: 16px;
    letter-spacing: -1px;
}

h4{
    font-size: 14px;
    letter-spacing: -1px;
}

p {
    margin-bottom:9px;
    margin-top:9px;
}
ul {
    margin: 0 0 18px 1.5em;
}
ol {
    margin: 0 0 18px 3em;
}
ul {
    list-style:disc;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style:upper-alpha;
}
ol ol ol {
    list-style:lower-roman;
}
ol ol ol ol {
    list-style:lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
    margin-bottom:0;
}

a:link, a:visited{
    color: #9AB85B;
}

a:hover, a:active {
    color: #7C9F3B;
}

textarea.larg{
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-size: 8px;
    padding: 1px;
}

h2#slogan{
    font-size: 32px;
    font-weight: normal;
    letter-spacing: -1px;
    color: #7C9F3B;
    text-decoration: none;
}

#cap a.legatura {
    color: #7C9F3B;
    text-decoration: none;
}

ul#meniu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.dialog span.hl{
    background-color: #FFFFCC;
    font-style: italic;
}

.dialog span.bad{
    color: #D8000C;
}

.dialog span.good{
    color: #4F8A10;
}

.dialog ul.blocuri li .polaroid{
    font-size: 10px;
    text-align: center;
}

.dialog ul.blocuri li .polaroid a img{
    border: 4px solid #ddd;
}

.dialog ul.blocuri li .polaroid a:hover img{
    border: 4px solid #aaa;
}

.dialog ul.blocuri > li h3{
    text-align: center;
}

.dialog ul.blocuri li ul li{
    list-style: disc;
}

.dialog ul.blocuri li ol{
    margin-left: 0;
}

.dialog ul.blocuri li ol li{
    list-style: disc;
    list-style: inside;
}

.dialog ul.blocuri li ul.text{
    text-align: left;
    margin: 0;
    padding: 0;
}

.dialog ul.blocuri li img{
    display: block;
    margin: 0 auto;
}

.dialog ul.blocuri li h4{
    margin: 5px 0;
    text-align: center;
}

.dialog ul.blocuri li.rosu, .dialog ul.blocuri li.verde{
    text-align: center;
    font-size: 50px;
    margin: 40px 0;
}

.dialog ul.blocuri li.rosu {
    color: #D8000C;
}

.dialog ul.blocuri li.verde {
    color: #4F8A10;
}

.dialog ul.blocuri li span.mare{
    font-size: 90px;
}

/* Bubble */
#corp div.dialog {
    margin: 0;
    margin-bottom: 90px;
    padding: 0;
    border: 1px solid #ddd;
    width: 700px;
    background: #fff;
    padding: 25px;
    position: relative;
    box-shadow: 5px 5px 5px #ddd;
    -moz-box-shadow: 5px 5px 5px #ddd;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

#corp div.dialog .arrow {
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 40px solid transparent;
    border-left: none;
    border-right: 40px solid #fff;
    position: absolute;
    top: -40px;
    left: 30px;
    box-shadow: 2px 0px 0px 0px #ddd;
    -moz-box-shadow: 2px 0px 0px 0px #ddd;
}

#corp div.ultimul {
    height: 50px;
    
}
